.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  gap: 6rem;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px; /* Adjust the space between grid items */
  justify-content: center; /* Horizontally center the items in the grid container */
}

.ticketItem {
  text-align: center;
  cursor: pointer;
  background-color: #f0f0f0; /* A light grey background */
  border: 1px solid #ccc; /* A subtle border */
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}

.ticketImage {
  width: 200px;
  height: 250px;
  object-fit: cover; /* Ensures the images are nicely fit into the container */
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7); /* semi-transparent white */
  z-index: 10;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
